*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
       .nav {
  height: 70px;
  width: 100%;
  background-color: #204F7A;
  position: relative;
  padding-top: 13px;
  position: fixed;
  z-index: 99999999;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

div.nav-title a.tum-tum{
    color: white;
    transition: all 0.9s ease;
    text-decoration: none;
}
@media screen and (max-width:600px) {
  div.nav-title a.tum-tum{
    margin-left: 0px;
    overflow: hidden;
  }
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
  margin-right: 100px;
  z-index: 99999999;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 8px 12px 12px 12px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color:#F5F7FA;
  text-decoration: underline;
  border-radius: 5px;
  color: #204F7A;
}

.nav > #nav-check {
  display: none;
}

@media  (max-width:967px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99999;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  
  #fa-bars{
      color: white;
      font-size: 22px;
      padding-top: 13px;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 40%;
    /*background-color: #333333db;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top:70px;
    left: 0px;*/
     background-color: #f1f1f1;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top:70px;
    left: 0px;
    box-shadow: 0.1px 0 2px 0 #000;;
  }
  .nav > .nav-links > a {
      color: #204F7A;
    display: block;
    width: 100%;
     transition: 0.3s all ease-in-out;
  }
  .nav > .nav-links > a:hover{
      padding-left: 22px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
div.nav-links a.Links-None{
    display: none;
} 
@media screen and (max-width:967px){
    div.nav-links a.Links-None{
    display: block;
}
}
@media  (max-width:750px){
    .nav > .nav-links {
     width: 45%;   
    }
}
@media  (max-width:600px){
    .nav > .nav-links {
     width: 55%;   
    }
}

@media  (max-width:500px){
    .nav > .nav-links {
     width: 60%;   
    }
}
@media  (max-width:450px){
    .nav > .nav-links {
     width: 68%;   
    }
}
@media  (max-width:420px){
    .nav > .nav-links {
     width: 70%;   
    }
}
@media  (max-width:400px){
    .nav > .nav-links {
     width: 73%;   
    }
}
/* drop down list*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    padding-top: 10px;
    padding-bottom: 20px;
  display: none;
  margin-left: -200px;
  position: absolute;
  background-color: #F5F7FA;
  min-width: 300px;
  height: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   animation-name: example;
   animation-duration:1s;
   border-radius: 10px; 
   z-index: 999999;
   margin-top: 17px;
   transition: 0.3s all ease-in-out;
   }
    @keyframes example {
    from {height:0vh;
    padding-top:0px;
    padding-bottom:0px;}
    to {height:340px;
    padding-top:10px;
    padding-bottom:20px;}
    }

    .dropdown-content::after{
        content: '';
        top: -12.7%;
        left: 68.5%;
        position: absolute;
        z-index: 999;
         margin-left: -5px;
        border-width: 25px;
        border-style: solid;
       border-color: transparent transparent #f1f1f1 transparent;
    }

    
.dropdown-content a {
  color: #204F7A;
  padding:12px 10px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}

.dropdown a:hover {background-color: #fff;color: #204F7A;              
       padding-left:20px; 
}
.dropdown span.More a:hover{
    padding-left: 10px;
    margin-left: 10px;
}
span.More{
    
}
.show {display: block;}
/* end here */
  @media screen and (max-width:967px){
      div.dropdown{
          display: none;
      }
}
div.welcome{
 width: 100%;
 margin: auto;
 padding: 12px 16px;
}
p.Welcomeback{
  padding-bottom: 15px;  
}
.status-bar {
    margin-top: 25px;
    width: 75px;
    height: 45px;
    border-radius: 10px; 
    padding: 10px;
    background-color: green;
    color: #fff;
  }

  .status-bar.online {
    color: #fff;
  }

  .status-bar.offline {
    color: #fff;
  }
  
  .well-display{
      display: none;
  }
  @media screen and (max-width:967px){
      .well-display{
          display: block;
      }
      .welcome{
          display: none;
      }
      
  }
  
  @media screen and (max-width:967px){
      .my{
          display: none;
      }
      .dropdown-content{
       margin-top: -20px;   
      }
      .wel1{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
      }
  }
  .Welcomeback,
  .enterpin{
      font-size: 20px;
      color: #204F7A;
      font-weight: 400;
      transition: 0.3s all ease-in-out;
      cursor: pointer;
  }
  .Welcomeback:hover{
      padding-left: 10px;
      border-radius: 5px;
  }
  .enterpin:hover{
     padding-left: 10px;
      border-radius: 5px; 
  }
  
  h1.FULL_NAME,
  h2.PIN_N{
      padding:13px 10px 10px 10px;
      font-size: 20px;
      color: #204F7A;
      font-weight: 400;
      transition: 0.3s all ease-in-out;
  }
  h1.FULL_NAME:hover,
  h2.PIN_N:hover{
      padding-left: 20px;
  }
  .Grid-tittle{
      display: grid;
      grid-template-columns: auto 1fr;
      margin-left: 30px;
      transition: all 0.9s ease;
  }
  
  #fa-bars{
      transition: 0.3s all ease-in;
  }
  
  
  .letter-container {
  display: inline-block;
}

.circle {
  position: relative; /* Add this line */
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #204F7A;
  border: 1px solid;
}

.circle:hover{
    border: 1px solid #ccc;
}
.letter {
  font-size: 24px;
}

.status-dot {
  position: absolute;
  bottom: 5px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

body{
    background-color: #F5F7FA;
}
.Ma{
    padding-top: 70px;
}



 .DIV{
                     padding-top:80px;
                }
                .Order{
    width: 100%;
    margin: auto;
}
@media screen and (max-width:130px){
    .Order{
        overflow: hidden;
    }
}
.Order-1{
    width: 60%;
    margin: auto;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width:1200px){
  .Order-1{
    width:80%;
}  
}
@media screen and (max-width:1060px){
  .Order-1{
    width:90%;
}  
}
@media screen and (max-width:967px){
  .Order-1{
    width:60%;
}  
}
@media screen and (max-width:750px){
  .Order-1{
    width:75%;
}  
}

@media screen and (max-width:660px){
  .Order-1{
    width:90%;
}  
}

.Flex-Order{
    display: flex;
    align-items: center;
}

@media screen and (max-width:600px){
   .Flex-Order{
    display: block;
} 
}
                
                div.Flex-Order-1{
                    flex: 0 0 200px;
                }
                @media screen and (max-width:660px){
                div.Flex-Order-1{
                    flex: 0 10px0 700px;
                   }
                }
                div.Flex-Order-2{
                    flex: 0 0 400px;
                    padding-left: 15px;
                }
                @media screen and (max-width:1060px){
                div.Flex-Order-2{
                    flex: 0 0 350px;
                    padding-left: 15px;
                   }
                }
                div.Flex-Order-31{
                     flex: 0 0 350px;
                }
                
                img.Order-first-img{
                    width: 100%;
                    max-height:70%;
                     aspect-ratio:3/2;
                    padding: 10px;
                     object-fit: contain;
                }
                div.Flex-Order-3{
                     display: flex;
                     align-items: center;
                }
                
                @media screen and (max-width:360px){
                  div.Flex-Order-3{
                     display: block;
                }  
                }
                
                h1.Order-NAME{
                    color: #204F7A;
                    font-size: 25px;
                }
                @media screen and (max-width:967px){
                    h1.Order-NAME{
                    color: #204F7A;
                    font-size: 20px;
                } 
                }
                @media screen and (max-width:650px){
                    h1.Order-NAME{
                    color: #204F7A;
                    font-size: 17px;
                } 
                }
                @media screen and (max-width:350px){
                    h1.Order-NAME{
                    color: #204F7A;
                    font-size: 14px;
                } 
                }
                
                
                
                
                
                
                div.Flex-Order-1{
flex: 0 0 170px;
}
div.Flex-Order-21{
display: flex;
align-items: center;
}
@media screen and (max-width:967px){
div.Flex-Order-21{
display:block;
}
}
div.Flex-Order-2{
flex: 0 0 400px;
padding-left: 15px;
}
@media screen and (max-width:1060px){
div.Flex-Order-2{
flex: 0 0 400px;
padding-left: 15px;
}
}
div.Order-Name{
flex: 0 0 350px;
}
div.Flex-Order-31{
padding-top: 20px;  
}
.Order-IMG {
width: 100%;
height: 100%;
}
.Order-first-img {
width: 100%;
height: 100%;
object-fit: contain;
padding: 10px;
}
@media screen and (max-width:967px){
div.Flex-Order-2{
margin-top: -5px;
}
div.Flex-Order-31{
padding-top: 10px;  
}
}                   
                
                
                
                
                
                
                
                input[type="text"]{
                    outline: none;
                    width: 30px;
                    text-align: center;
                    border: none;
                    background-color: transparent;
                    color: #fff;
                    font-size: 20px;
                }
                
               .BTN-Order {
                display: flex;
                align-items: center;
                }
                @media screen and (max-width:360px){
                    .BTN-Order{
                        padding-bottom: 10px;
                    }
                }
                @media screen and (max-width:255px){
                    .BTN-Order{
                        display: block;
                        text-align: center;
                    }
                }

              .BTN_order-1, .BTN_order-2 {
                 margin: 0 10px;
                 padding: 5px;
                 font-weight: 800;
                }
                
                div.BTN_order-1{
                    background-color: #1574f5;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-radius: 20px;
                    color: #fff;
                    font-size: 15px;
                }
                div.BTN_order-2{
                    margin-right: 15px;
                }
                div.BTN_order-1:hover{
                     box-shadow: 0 0 8px 0 #000; 
                }
                span.decreaseBtn,span.increaseBtn{
                    color: #fff;
                    cursor: pointer;
                    padding: 3px;
                    font-weight: 800;
                }
                div.BTN_order-2{
                    color: #1574f5;
                    font-size: 20px;
                }
                @media screen and (max-width:600px){
                    div.BTN_order-2{
                        font-size: 17px;
                    }   
                }
                span.Rupee{
                    font-size: 17px;
                    padding-right: 5px;
                }
                input[type="submit"]{
   width: 100%;
   padding: 5px 10px;
   border-radius:5px;
   font-size: 18px;
   color: #fff;
   font-weight: 600;
   background-color: #1574f5;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   }
input[type="submit"]:hover{
   color: #1da1f2;
   background-color: #fff;
   box-shadow: 0 0 8px 0 #000; 
   }
   @media screen and (max-width:600px){
       input[type="submit"]{
          font-size: 16px; 
       }
   }
   
   
   
   
   
   
   
   div.Bottom-Stick{
                 position: fixed;
                 z-index: 9999999999;
                  bottom:0;
                 left: 0;
                 width: 100%;
                 height: auto;
                 background-color: #204F7A;
                 transition: all 0.3s ease-in-out;
                 text-align: center;
            }
            @media screen and (max-width:390px){
                div.Bottom-Stick{
                   height: 100px;  
                }
            }
            @media screen and (max-width:200px){
                div.Bottom-Stick{
                  overflow: hidden;  
                }
            }
            div.Bottom-Stick-1{
                width: 100%;
                margin: auto;
            }
            h1.Place-Order{
                color: #fff;
                font-size: 25px;
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
            }
            @media screen and (max-width:500px){
                h1.Place-Order{
                    font-size: 18px;
                } 
            }
            button.Check_Out{
                text-align: center;
                position: relative;
                color: #fff;
                background-color: #204F7A;
                border: 1px solid #fff;
                font-size: 18px;
                padding: 10px 25px;
                margin-left: 20px;
                border-radius: 20px;
                cursor: pointer;
                font-weight: 800;
            }
            button.Check_Out:hover{
                 color: #204F7A;
   background-color: #fff;
   box-shadow: 0 0 8px 0 #000; 
            }
            @media screen and (max-width:390px){
                button.Check_Out{
                    position: initial;
                    margin-left: 0px;
                } 
            }
    @media screen and (max-width:500px){
                button.Check_Out{
                    padding: 5px 15px;
                } 
            }
            form.FROM_ITEMS{
                width: 220px;
                height: 0px;
                position: absolute;
            }
            div.Bottom-Stick-2{
                display: flex;
                text-align: center;
                justify-content: center;
                padding-top: 10px;
                padding-bottom: 10px;
            }
             @media screen and (max-width:700px){
                div.Bottom-Stick-2{
                justify-content: flex-start;
                padding-left: 20px;
                } 
            }
            @media screen and (max-width:390px){
                div.Bottom-Stick-2{
                   display: block;
                    text-align-last: center;
                }
            }
   
   
   
   
   
   
   
     div.Max-Lenght{
                 display: none;
                 margin-top: 70px;
                 position: fixed;
                 z-index: 9999999999;
                  top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 background-color: rgba(0, 0, 0, 0.5);
                 transition: all 0.3s ease-in;
             }
             @media screen and (max-width:160px){
                 div.Max-Lenght{
                     overflow: hidden;
                 } 
             }
             div.Max-Lenght-1{ 
             width: 60%;
             margin: 100px auto;
             padding: 10px;
              text-align: center;
             }
             @media screen and (max-width:678px){
                 div.Max-Lenght-1{
                   width: 70%;  
                 }
             }
             @media screen and (max-width:526px){
                 div.Max-Lenght-1{
                   width: 75%;  
                 }
             }
             @media screen and (max-width:434px){
                 div.Max-Lenght-1{
                   width: 80%;  
                 }
             }
             @media screen and (max-width:200px){
                 div.Max-Lenght-1{
                   width: 100%;  
                 }
             }
             div.Max-Lenght-2{
                 background-color: #fff;
                 width: 55%;
                 margin: auto;
                 box-shadow: 0 0 8px 0 #000;
                 padding: 30px;
                  text-align: center;
             }
             
             @media screen and (max-width:1088px){
                 div.Max-Lenght-2{
                   width: 75%;  
                 }
             }
             @media screen and (max-width:815px){
                 div.Max-Lenght-2{
                   width: 90%;  
                 }
             }
             @media screen and (max-width:678px){
                 div.Max-Lenght-2{
                   width: 100%;  
                 }
             }
             h5.CONTANT_lenght{
                 font-size: 20px;
                 color: #1F4D78;
                 padding-bottom: 10px;
             }
             @media screen and (max-width:967px){
                 h5.CONTANT_lenght{
                     font-size: 18px;
                 }
             }
             @media screen and (max-width:600px){
                 h5.CONTANT_lenght{
                     font-size: 16px;
                 }
             }
             a.Ta{
                 font-size: 20px;
                color: #1F4D78;
                padding-top: 5px;
                padding-bottom: 10px;
                text-decoration: none;
             }
             @media screen and (max-width:967px){
                 a.Ta{
                     font-size: 18px;
                 }
             }
             @media screen and (max-width:600px){
                 a.Ta{
                     font-size: 16px;
                 }
             }
             a.Ta:hover{
                 text-decoration: underline;
             }
             p.Exp{
                 font-size: 18px;
                 color: #1F4D78;
                 padding-top: 10px;
                 padding-bottom: 10px;
                 line-height: 25px;
             }
             @media screen and (max-width:967px){
                 p.Exp{
                     font-size: 17px;
                 }
             }
             @media screen and (max-width:600px){
                 p.Exp{
                     font-size: 16px;
                 }
             }
             p.Exp_em{
                font-size: 18px;
                 color: #1F4D78;
                 padding-top: 10px;
                 padding-bottom: 10px; 
             }
             @media screen and (max-width:967px){
                 p.Exp_em{
                     font-size: 17px;
                 }
             }
             @media screen and (max-width:600px){
                 p.Exp_em{
                     font-size: 16px;
                 }
             }
             button.MAX_LENGTH {
        text-align: right;
        float: right;
        padding: 0px;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 20px;
        margin-top: -25px;
        margin-right: -20px; 
        cursor: pointer;
        
    }



