 *{
            margin: auto;
            padding: auto;
            box-sizing: border-box;
        }
        body{
            background-image: url("images/background.jpg");
            width: 100%;
            height: 100%;
            background-size: 70% 100%;
            background-position: left;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
        @media screen and (max-width:690px){
          body{
            background-size: 100% 100%;
          }
        }
        div.LOGIN-SIGN{
            text-align: right;
            justify-content: right;
            margin-right:1px;
            width: 30%;
            height: 100%;
            min-height: 100vh;
            background-color: white;
            -webkit-box-shadow: 0 0 5px 2px #fff;
           -moz-box-shadow: 0 0 5px 2px #fff;
            box-shadow: 0 0 5px 2px #fff;
        }
        @media screen and (max-width:1250px) {
          div.LOGIN-SIGN{
            width: 38%;
          }
        }
        @media screen and (max-width:890px) {
          div.LOGIN-SIGN{
            width: 45%;
          }
        }
        @media screen and (max-width:752px) {
          div.LOGIN-SIGN{
            width: 49%;
          }
        }
        @media screen and (max-width:690px) {
          div.LOGIN-SIGN{
            text-align: center;
            justify-content: center;
            margin: auto;
            margin-right: none;
            width: 60%;
          }
        }
        @media screen and (max-width:590px) {
          div.LOGIN-SIGN{
            width: 70%;
          }
        }
        @media screen and (max-width:480px) {
          div.LOGIN-SIGN{
            width: 80%;
          }
        }
        div.LOGIN-SIGN-1{
            width: 100%;
            height: 100%;
            margin: auto;
            text-align: left;
        }
        div.LOGIN-SIGN-1{
            width: 80%;
            margin: auto;
            padding-top: 50px;
            padding-bottom: 50px;
        }
         form.LOGIN{
             padding-top: 30px;
             padding-bottom: 30px;
         }
        /* div.Tum{
             padding-top: 15px;
             padding-bottom: 30px;
         }
         h1.TUM{
            color: rgb(46, 43, 43);
            text-shadow: 2px 0px 2px;
         }*/
         div.LOGIN-h1{
            padding-top: 10px;
             padding-bottom: 30px; 
         }
         @media screen and (max-width:690px) {
           div.LOGIN-h1,
           div.sign-up-1{
             padding-top:50px;
           }
         }
         h1.Login{
            color: #204F7A;
            text-shadow: 2px 0px 2px #204F7A;
         }

        h1{
            color: aliceblue;
            position: absolute;
        }
        div.label-email,
        div.password-label{
            padding-top: 10px;
            padding-bottom: 5px;
        }
        
        label.Email,
        label.Password{
            color:rgb(51, 51, 51) ;
            font-size: 22px;
        }
        div.Input-email{
          padding-bottom: 20px;
         }
        input[type="email"],
        input[type="password"]{
            width: 100%;
            outline: none;
            padding: 20px 10px;
            border: 1px solid #d7d7d7;
            border-radius: 5px;
            text-align: center;
            color: #0a3847;
        }
        input[type="email"]:hover,
        input[type="password"]:hover{
            border:1px solid #1574f5 ;
            box-shadow:inset 0 0 0 1px #1574f5;
        }
        input[type="email"]:focus,
        input[type="password"]:hover{
            border:1px solid #1574f5 ;
            box-shadow:inset 0 0 0 1px #1574f5;
        }
        input[type="submit"]{
             margin-top: 20px;
             margin-bottom: 15px;
           width: 100%;
            padding: 15px 20px;
            border-radius:5px;
            font-size: 18px;
            color: #fff;
            font-weight: 600;
           background-color: #1574f5;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
         }
         input[type="submit"]:hover{
            color: #1da1f2;
            background-color: #fff;
            box-shadow: 0 0 8px 0 #000; 
         }
        div.remember-forgotpassword{
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        div.Remember{
            text-align: left;
            justify-content: left;
            margin-right: 200px;
        }
        
       span.Remember{
         margin-left: 10px;
        }

a.Forgot-password{
    color: #1574f5;
    font-size: 18px;
    text-decoration: none;
}
a.Forgot-password:hover{
    color: rgb(51, 51, 51);
}
span.Account{
    font-size: 20px;
    color: rgb(51, 51, 51);
}
button#sign-up-button{
    outline: none;
    border: none;
    background-color: transparent;
    color:#1574f5;
    font-size: 19px;
    cursor: pointer;
}
button#sign-up-button:hover{
    text-decoration: underline;
    color: black;
}
div.Tru-Yums{
             color: #fff;
               position: absolute;
               top:3%;
               margin-left: 50px;
               
}

@media screen and (max-width:690px) {
  div.Tru-Yums{
    top: 0%;
    left: 30%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:650px) {
  div.Tru-Yums{
    top: 0%;
    left: 27.5%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:600px) {
  div.Tru-Yums{
    top: 0%;
    left: 25%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:550px) {
  div.Tru-Yums{
    top: 0%;
    left: 22.5%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:500px) {
  div.Tru-Yums{
    top: 0%;
    left: 20%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:450px) {
  div.Tru-Yums{
    top: 0%;
    left: 17.5%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:400px) {
  div.Tru-Yums{
    top: 0%;
    left: 15%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:350px) {
  div.Tru-Yums{
    top: 0%;
    left: 11%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:330px) {
  div.Tru-Yums{
    top: 0%;
    left: 5%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:200px) {
  div.Tru-Yums{
    top: 0%;
    left: 2%;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width:150px) {
  div.Tru-Yums{
    top: 0%;
    left: -20%;
    transition: all 0.4s ease;
  }
}
 h1.Tru-Yum-1{
             font-size: 70px;
             line-height: 100px;
             margin-left: -10px;
             color: transparent;
             -webkit-text-stroke: 1px #fff;  
             -webkit-background-clip: text;      
             background-color: #fff;
             background-position: 0 0;
             animation: back 20s linear infinite;
             z-index: 9999;
             position: fixed;
           }
           @keyframes back{
               100%{
                   background-position: 2000px 0;
               }
           }
           @media screen and (max-width:690px) {
            h1.Tru-Yum-1{
              font-size: 55px;
              -webkit-text-stroke: 1px #000; 
              background-color: #000;
               position: relative;
            }
           }
            
           @media screen  and (max-width:300px){
            h1.Tru-Yum-1{
              font-size: 35px;
              -webkit-text-stroke: 1px #000; 
            }
           }
           @media screen  and (max-width:250px){
            h1.Tru-Yum-1{
              font-size: 25px;
              -webkit-text-stroke: 1px #000; 
            }
           }
           div.LOGIN-SIGN-2{
               overflow: hidden;
           }
           
           
          
                  div.Name-Sign{
                      padding-top: 20px;
                  }
                  div.Name-label,
                  div.Email-label,
                  div.phone-label{
                      padding-top: 5px;
                      padding-bottom: 5px;
                  }
                  label.Name{
                      font-size: 19px;
                      color:rgb(51, 51, 51) ;
                  }
                  div.Name-input{
                      padding-bottom: 10px;
                  }
                  input[type="text"],input[type="password"]{
                    width: 100%;
                     outline: none;
                     padding: 10px 10px;
                    border: 1px solid #d7d7d7;
                     border-radius: 5px;
                    text-align: center;
                    color: #0a3847;
                  }
                  input[type="text"]:hover,input[type="password"]:hover{
                    border:1px solid #1574f5 ;
            box-shadow:inset 0 0 0 1px #1574f5;
                  }
                  input[type="text"]:focus,input[type="password"]:focus{
                    border:1px solid #1574f5 ;
            box-shadow:inset 0 0 0 1px #1574f5;
                  }
                  div.phone-sign{
                      padding-top: 10px;
                      padding-bottom: 10px;
                  }
                  span.char{
                      font-size: 13px;
                  }
                  span.Already{
                    font-size: 20px;
                    color: rgb(51, 51, 51);
                  }
                  span.Already button{
                    outline: none;
                    border: none;
                    background-color: transparent;
                    color:#1574f5;
                   font-size: 19px;
                   cursor: pointer;
                  }
                  span.Already button:hover{
                      color: #000;
                      text-decoration: underline;
                      transition: all 0.4 ease;
                  }
                  a.indx{
                      color: #1574F5;
                      text-decoration: none;
                  }
                  a.indx:hover{
                      text-decoration: underline;
                  }
                  
                  div.Email{
            padding-bottom: 15px;
        }
        div.label-email{
            padding-top: 5px;
            padding-bottom: 5px;
        }
        label.Email,
        div.label-option{
            font-size: 19px;
            color: rgb(51, 51, 51);
            padding-bottom: 10px;
        }
        div.Input-text{
        padding-top: 10px;
        padding-bottom: 10px;
        }  
        option:checked{
           background: #1574f5;
           font-weight: bold;
        }
        #option1,#option2,#option3{
            width: 100%;
            outline: none;
            padding: 10px 10px;
            border: 1px solid #d7d7d7;
            border-radius: 5px;
            text-align: center;
            color: #0a3847;
        }
        #option1:hover,#option2:hover,#option3:hover{
                    border:1px solid #1574f5 ;
            box-shadow:inset 0 0 0 1px #1574f5;
         }
                 
        #option1:focus,#option2:focus,#option3:focus{
                    border:1px solid #1574f5 ;
            box-shadow:inset 0 0 0 1px #1574f5;
        }
        div.Sign-up-h1{
            padding-bottom: 30px;
        }
                  
                  div.Email{
            padding-bottom: 15px;
        }
        div.label-email{
            padding-top: 5px;
            padding-bottom: 5px;
        }
        label.Email,
        div.label-option{
            font-size: 19px;
            color: rgb(51, 51, 51);
            padding-bottom: 10px;
        }
        div.Input-text{
        padding-top: 10px;
        padding-bottom: 10px;
        }  
        option:checked{
           background: #1574f5;
           font-weight: bold;
        }
        #option1,#option2,#option3{
            width: 100%;
            outline: none;
            padding: 10px 10px;
            border: 1px solid #d7d7d7;
            border-radius: 5px;
            text-align: center;
            color: #0a3847;
        }
        #option1:hover,#option2:hover,#option3:hover{
                    border:1px solid #1574f5 ;
            box-shadow:inset 0 0 0 1px #1574f5;
         }
                 
        #option1:focus,#option2:focus,#option3:focus{
                    border:1px solid #1574f5 ;
            box-shadow:inset 0 0 0 1px #1574f5;
        }
        div.sign-up-2{
            padding-top: 0px;
        }
        div.Enter-email{
            padding-bottom:10px;
            font-size: 21px;
            margin-top: 20px;
        }
        div.Details{
            text-align: center;
        }
        
         
       
         div.recaptcha{
    position: fixed;
    float: right;
    bottom: 30px;
    right: -210px;
    background-color: #ffffff;
    height: 70px;
    width: 300px;
    transition: all 1s;
    box-shadow: grey 0px 0px 5px;
   box-sizing: border-box;
   overflow: hidden;
   border-radius: 3px;
  }
  div.recaptcha:hover{
    right: 0px;
    transition: all 1s;
  }
  div.recaptcha:hover  a.recaptcha{
    display: none;
  }
  div.recaptcha:hover  div.recaptcha-image{
    width: 55px;
    height: 55px;
    background-size: 55px;
    margin-top: 0px;
  
  }
  div.recaptcha-image{
    background-image: url(" https://www.gstatic.com/recaptcha/api2/logo_48.png ");
    background-size:45px;
    height: 45px;
    width: 45px;
    margin-left: 10px;  
    margin-bottom: -10px;
    margin-top: -0px;
    transition: all 1s;
    background-repeat: no-repeat ;
    background-color: #ffffff;
  }
  .recaptcha-3 {
  float: left;
  padding: 0px;
  height: auto;
}

.left {
  width: 30.6%;
  padding: 10px;
  background-color: #fff;
}

.right {
  width: 69.4%;
  background-color: #4a90e2 ;
  color: #ffffff;
  height: 80px;
  padding: 10px 16px ;
}
.recaptcha-2:after {
  content: "";
  display: table;
  clear: both;
}
a.recaptcha{
   text-decoration: none;
   color: #555;
   font-size: 10px;
   line-height: 35px;
   margin-left: 5px;
 }
 p.protected{
   font-size: 14px;
   font-family: Roboto,helvetica,arial,sans-serif;
   line-height: 30px;
   color: #ffffff;
 }
 a.recaptcha-1{
   text-decoration: none;
   color: #ffffff;
   font-size: 12px;
   line-height: 25px;
 }
 a.recaptcha-1:hover{
   text-decoration: underline;
 }
 div.recaptcha-4{
   float: left;
   margin-top: -10px;
 }
 @media screen and (max-width:320px) {
   
  div.recaptcha{
    width: 200px;
    right: -138px;
  }
  div.recaptcha-image{
    background-size:35px;
    height: 35px;
    width: 35px;
    margin-left: 0px;
  }
  div.recaptcha:hover  div.recaptcha-image{
    width: 45px;
    height: 45px;
    background-size: 45px;
  }
  a.recaptcha{
   text-decoration: none;
   color: #555;
   font-size: 5px;
 }
 p.protected{
   font-size: 10px;
   font-family: Roboto,helvetica,arial,sans-serif;
   line-height: 17px;
   color: #ffffff;
 }
 a.recaptcha-1{
   text-decoration: none;
   color: #ffffff;
   font-size: 8px;
 }
 div.recaptcha-4{
   margin-top: -20px;
 }
 }
 
 .cookie-container {
	margin-top: 10px;
	padding: 20px;
	text-align: center;
  justify-content: center;
  position: fixed;
  bottom: -100%;
  display: inline;
  left: 0;
  right: 0;
  color: #84879f;
  background: #F1F1F1 !important;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  transition: 400ms;
  border: 1px solid #ccc;
  z-index: 9999999;
}
div.Cookie-flex{
  display: grid;
  grid-template-columns: auto auto;
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width:650px) {
  div.Cookie-flex{
    display: block;
  }
  .cookie-btn,
  .cookie-btns{
    margin-top: 10px;
  }
}
.cookie-container.active {
  bottom: 0;
}
.cookie-btn {
	font-family: inherit;
	font-weight: 400;
  color: #000000;
  padding: 1px 10px ;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  outline:none;
  border: 1px solid #84879f;
}
.cookie-btns {
	font-family: inherit;
	font-weight: 400;
  color: #84879f;
  padding: 1px 10px ;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  outline:none;
  border: 1px solid #84879f;
}
p.Cookie{
  color: #84879f;
  margin-right: 20px;
}


div.Option1{
    padding-top: 10px;
    padding-bottom: 7px;
    font-size: 20px;
}

