/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2023, 9:25:17 AM
    Author     : Bhargav
*/

  *{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
       .nav {
  height: 70px;
  width: 100%;
  background-color: #204F7A;
  position: relative;
  padding-top: 13px;
  position: fixed;
  z-index: 99999999;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

div.nav-title a.tum-tum{
    color: white;
    transition: all 0.9s ease;
    text-decoration: none;
}
@media screen and (max-width:600px) {
  div.nav-title a.tum-tum{
    margin-left: 0px;
    overflow: hidden;
  }
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
  margin-right: 100px;
  z-index: 99999999;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 8px 12px 12px 12px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color:#F5F7FA;
  text-decoration: underline;
  border-radius: 5px;
  color: #204F7A;
}

.nav > #nav-check {
  display: none;
}

@media  (max-width:967px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99999;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  
  #fa-bars{
      color: white;
      font-size: 22px;
      padding-top: 13px;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 40%;
    /*background-color: #333333db;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top:70px;
    left: 0px;*/
     background-color: #f1f1f1;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top:70px;
    left: 0px;
    box-shadow: 0.1px 0 2px 0 #000;;
  }
  .nav > .nav-links > a {
      color: #204F7A;
    display: block;
    width: 100%;
     transition: 0.3s all ease-in-out;
  }
  .nav > .nav-links > a:hover{
      padding-left: 22px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
div.nav-links a.Links-None{
    display: none;
} 
@media screen and (max-width:967px){
    div.nav-links a.Links-None{
    display: block;
}
}
@media  (max-width:750px){
    .nav > .nav-links {
     width: 45%;   
    }
}
@media  (max-width:600px){
    .nav > .nav-links {
     width: 55%;   
    }
}

@media  (max-width:500px){
    .nav > .nav-links {
     width: 60%;   
    }
}
@media  (max-width:450px){
    .nav > .nav-links {
     width: 68%;   
    }
}
@media  (max-width:420px){
    .nav > .nav-links {
     width: 70%;   
    }
}
@media  (max-width:400px){
    .nav > .nav-links {
     width: 73%;   
    }
}
/* drop down list*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    padding-top: 10px;
    padding-bottom: 20px;
  display: none;
  margin-left: -200px;
  position: absolute;
  background-color: #F5F7FA;
  min-width: 300px;
  height: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   animation-name: example;
   animation-duration:1s;
   border-radius: 10px; 
   z-index: 999999;
   margin-top: 17px;
   transition: 0.3s all ease-in-out;
   }
    @keyframes example {
    from {height:0vh;
    padding-top:0px;
    padding-bottom:0px;}
    to {height:340px;
    padding-top:10px;
    padding-bottom:20px;}
    }

    .dropdown-content::after{
        content: '';
        top: -12.7%;
        left: 68.5%;
        position: absolute;
        z-index: 999;
         margin-left: -5px;
        border-width: 25px;
        border-style: solid;
       border-color: transparent transparent #f1f1f1 transparent;
    }

    
.dropdown-content a {
  color: #204F7A;
  padding:12px 10px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}

.dropdown a:hover {background-color: #fff;color: #204F7A;              
       padding-left:20px; 
}
.dropdown span.More a:hover{
    padding-left: 10px;
    margin-left: 10px;
}
span.More{
    
}
.show {display: block;}
/* end here */
  @media screen and (max-width:967px){
      div.dropdown{
          display: none;
      }
}
div.welcome{
 width: 100%;
 margin: auto;
 padding: 12px 16px;
}
p.Welcomeback{
  padding-bottom: 15px;  
}
.status-bar {
    margin-top: 25px;
    width: 75px;
    height: 45px;
    border-radius: 10px; 
    padding: 10px;
    background-color: green;
    color: #fff;
  }

  .status-bar.online {
    color: #fff;
  }

  .status-bar.offline {
    color: #fff;
  }
  
  .well-display{
      display: none;
  }
  @media screen and (max-width:967px){
      .well-display{
          display: block;
      }
      .welcome{
          display: none;
      }
      
  }
  
  @media screen and (max-width:967px){
      .my{
          display: none;
      }
      .dropdown-content{
       margin-top: -20px;   
      }
      .wel1{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
      }
  }
  .Welcomeback,
  .enterpin{
      font-size: 20px;
      color: #204F7A;
      font-weight: 400;
      transition: 0.3s all ease-in-out;
      cursor: pointer;
  }
  .Welcomeback:hover{
      padding-left: 10px;
      border-radius: 5px;
  }
  .enterpin:hover{
     padding-left: 10px;
      border-radius: 5px; 
  }
  
  h1.FULL_NAME,
  h2.PIN_N{
      padding:13px 10px 10px 10px;
      font-size: 20px;
      color: #204F7A;
      font-weight: 400;
      transition: 0.3s all ease-in-out;
  }
  h1.FULL_NAME:hover,
  h2.PIN_N:hover{
      padding-left: 20px;
  }
  .Grid-tittle{
      display: grid;
      grid-template-columns: auto 1fr;
      margin-left: 30px;
      transition: all 0.9s ease;
  }
  
  #fa-bars{
      transition: 0.3s all ease-in;
  }
  
  
  .letter-container {
  display: inline-block;
}

.circle {
  position: relative; /* Add this line */
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #204F7A;
  border: 1px solid;
}

.circle:hover{
    border: 1px solid #ccc;
}
.letter {
  font-size: 24px;
}

.status-dot {
  position: absolute;
  bottom: 5px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

body{
    background-color: #F5F7FA;
}
.Ma{
    padding-top: 70px;
}




/*   today special  */

         
         
         div.today-special-1{
             text-align: center;
             padding-right: 0px;
             padding-top: 10px;
             margin-left: 0px;
             width: 100%;
             margin: auto;
             
         }
         @media screen and (max-width:1250px){
             div.today-special-1{
                 text-align: left;
             }
         }
         @media screen and (max-width:1250px){
             div.today-special-1{
                width: 100%;
             margin: auto;
             }
         }
         .search-bar{
            outline: none;
             width: 30%;
             padding-top: 17px;
             padding: 15px;
             font-size: 20px;
             border-radius: 5px;
             border-color: #fff;
             border-top: #fff;
             border-left: #fff;
             color:rgb(116, 113, 113);
             position: fixed;
             z-index: 999;
             margin-left: 270px;
             margin-top: 70px;
             transition: all 0.3s ease-in;
         }
         @media screen and (max-width:1450px){
             .search-bar{
                 margin-left: 230px;
             }
         }
         @media screen and (max-width:1250px){
             .search-bar{
                 margin-left: 80px;
                 width: 85%;
                 text-align: left;
                text-align: center;
                justify-content: center;
             }
         }
         @media screen and (max-width:1180px){
             .search-bar{
                 width: 90%;
                 margin-left: 5%;
                 margin-right: 5%;
                 
             }
         }
         @media screen and (max-width:1250px){
             div.conta{
                 width: 86.2%;
                 margin-top: 70px;
             }
         }
         input[type="text"]:focus{
             box-shadow: 1px 3px 10px #ddd;
         } 
         #button-container{
             text-align: left;
             padding-top: 60px;
             padding-left: 20px;
             width: 100%;
             margin: auto;
             
         }
         div.conta{
             width: 62%;
             margin-left: 5%;
         }
         @media screen and (max-width:1450px){
             div.conta{
                 width: 60%;
             }
         }
         @media screen and (max-width:1250px){
             div.conta{
                 width: 86.2%;
             }
         }
         div.grilled{
             display: block;
             padding-bottom: 80px;
         }
       
         img.grilled-img:hover{
             box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
         }
         h1.grilled-h1{
           color: #efeded;
           font-size: 40px;
           margin-top: 10px;
           margin-bottom: 18px;
           font-weight: 800;
           transition: all 0.3s ease-in;
         }
         
         @media screen and (max-width:1365px){
             h1.grilled-h1{
                 font-size: 37px;
             }    
         }
         @media screen and (max-width:840px){
             h1.grilled-h1{
                 font-size: 30px;
             }    
         }
         @media screen and (max-width:802px){
             h1.grilled-h1{
                 font-size: 28px;
             }    
         }
         @media screen and (max-width:750px){
             h1.grilled-h1{
                 font-size: 25px;
             }    
         }
         p.grilled-p{
           font-size: 25px;
           color:#efeded;
           line-height: 35px;
           padding-bottom: 11px;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           transition: all 0.3s ease-in;
         }
         @media screen and (max-width:1365px){
             p.grilled-p{
                 font-size: 24px !important;
             }
         }
         @media screen and (max-width:840px){
             p.grilled-p{
                 font-size: 20px !important;
             }
         }
         @media screen and (max-width:802px){
             p.grilled-p{
                 font-size: 18px !important;    
             }
         }
         
         div.escalope{
           display: grid;
           grid-template-columns: auto auto;
           padding-top: 7px;
         }
         @media screen and (max-width:1250px){
            div.escalope{
                display: grid;
           grid-template-columns: auto;
             }
         }
         div.grilled-2{
           width: 100%;
           height: auto;
           margin: auto;
         }
         div.grilled-3{
           width: 100%;
           height: auto;
           margin: auto;
         }
         p.escalope{
           color: #efeded;
           font-size: 23px;
           font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
           line-height: 30px;
         }
         @media screen and (max-width:802px){
             p.escalope{
                 font-size: 18px !important;
             }
         }
         @media screen and (max-width:550px){
             p.escalope{
                 font-size: 16px !important;
             }
         }
         @media screen and (max-width:480px){
             p.escalope{
                 font-size: 15px !important;
             }
         }
         h1.price{
           font-size: 25px;
           color: #efeded;
         }
         .img-hidden{
             position: relative;
             overflow: hidden;
         }
          div.img-price-name{
            width: 100%;
            margin-top: 0px;
            position:absolute;    
            z-index: 10;
            transition: all .5s ease-in-out;
            transform: translateY(100%);
           }
           .img-hidden:hover .img-price-name {
               margin-top: -200px;
              transform: translateY(0%);
            }
           @media screen and (max-width:1000px){
               div.img-price-name{
                   margin-top: 0px;
                 position:relative;
                 transform: none;
                 
               }
             .img-hidden:hover .img-price-name {
               margin-top: 0px;
              transform: none;
            }
             
           }
           
           
           
           div.img-price-name{
            visibility: visible;
          }
          .img-hidden:hover .img-price-name{
            visibility: visible;
          }
          div.img-price-name-1{
            background-color: #E0E3E0;
            width: 100%;
            color: #201C14;
            width: 100%;
            height: 200px;
            text-align: center;
            padding-top: 40px;
          }
 
      @media screen and (max-width:1000px){
          div.img-price-name-1{
              background-color:#f1eaea3b;
              height: auto;
              padding-bottom: 15px;
              padding-top: 15px;
              box-shadow: 1px 3px 100px #ddd;
          }
          h1.name-grilled{
              display: none;
              padding-bottom: 0px;
          }
          p.price-grilled {
              color: #fff;
          }
      }
      @media screen and (max-width:680px){
          div.img-price-name-1{
              height: 150px;
              padding-top: 20px;
          }
      }
             @media screen and (max-width:550px){
          div.img-price-name-1{
              height: 130px;
              padding-top: 20px;
          }
      }
          h1.name-grilled{
            padding-bottom: 10px;
            font-size: 30px; 
          }
          @media screen and (max-width:1340px){
              h1.name-grilled{
                  font-size: 25px;
              } 
          }
           @media screen and (max-width:680px){
              h1.name-grilled{
                  font-size: 20px;
              } 
          }
          @media screen and (max-width:550px){
              h1.name-grilled{
                  font-size: 18px;
              } 
          }
          @media screen and (max-width:480px){
              h1.name-grilled{
                  font-size: 16px;
              } 
          }
          
          p.price-grilled{
            font-size: 25px;
            padding-top: 10px;
          }
          @media screen and (max-width:680px){
              p.price-grilled{
                  font-size: 20px;
                  padding-top: 0px;
              } 
          }
          @media screen and (max-width:550px){
              p.price-grilled{
                  font-size: 17px;
                  padding-top: 2px;
              } 
          }
          @media screen and (max-width:480px){
              p.price-grilled{
                  font-size: 15px;
                  padding-top: 2px;
              } 
          }
          div.add-cart-order-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

          @media screen and (max-width:680px){
              div.add-cart-order-btn{
                  padding-top: 10px;
              } 
          }
          button.Add-cart-grilled{
            font-size: 20px;
            margin-right: 10px;
            margin-left: -10px;
            padding: 7px 15px;
            outline: none;
            border-color: #C52810;
            border-radius: 50px;
            background-color: transparent;
            font-weight: 700;
            cursor: pointer;
          }
          @media screen and (max-width:1000px){
              button.Add-cart-grilled{
                  margin-top: 0px;
                  margin-bottom: 15px;
                  width: 100%;
                  padding: 15px 20px;
                  border-radius:5px;
                  font-size: 18px;
                  color: #fff;
                  font-weight: 600;
                 background-color: #1574f5;
                  border: none;
                 cursor: pointer;
                transition: all 0.3s ease-in-out;
                border-radius: 10px;
              } 
          }
          @media screen and (max-width:680px){
              button.Add-cart-grilled{
                  font-size: 18px;
              }
          }
          @media screen and (max-width:600px){
              button.Add-cart-grilled{
                  font-size: 12px;
              }
          }
          button.order-grilled{
            margin-left: 100px;
            font-size: 20px;
            padding: 7px 15px;
            outline: none;
            border-color: #C52810;
            border-radius: 50px;
            background-color: transparent;
            font-weight: 700;
            cursor: pointer;
          }
          @media screen and (max-width:680px){
              button.order-grilled{
                  font-size: 18px;
              }
          }
          @media screen and (max-width:600px){
              button.order-grilled{
                  font-size: 14px !important;
              }
          }
          button.Add-cart-grilled:hover,
          button.order-grilled:hover{
            background-color: #201C14;
            color: whitesmoke;
            border-color:#201C14 ;
            font-weight: 700;
            box-shadow: 0 0 8px 0 #000; 
          }
          @media screen and (max-width:680px){
              button.order-grilled{
                  font-size: 18px;
              }
          }
          
          div.img-hidden{
            width: 70%;
          }
          @media screen and (max-width:1450px){
              div.img-hidden{
                  width: 72.4%;
              }
          }
          @media screen and (max-width:1350px){
              div.img-hidden{
                  width: 72.5%;
              }
          }
          @media screen and (max-width:1250px){
              div.img-hidden{
                  width: 100%;
              }
          }


div.welcome{
 width: 100%;
 margin: auto;
 padding: 12px 16px;
}
p.Welcomeback{
  padding-bottom: 15px;  
}




 /* Style for the pop-up message */
    .popup-message {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f8f8f8;
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s;
        z-index: 99999;
    }

    .popup-message.show {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s;
    }
    
    
    
       


.cookie-container {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: -100%;
  display: inline;
  left: 0;
  right: 0;
  color: #1B395D;
  background: #F1F1F1 !important;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  transition: 400ms;
  border: 1px solid #ccc;
  z-index: 99999999999999;
}
div.Cookie-flex{
  display: grid;
  grid-template-columns: auto auto;
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width:650px) {
  div.Cookie-flex{
    display: block;
  }
  .cookie-btn,
  .cookie-btns{
    margin-top: 10px;
  }
}
.cookie-container.active {
  bottom: 0;
}

.cookie-btn {
font-family: inherit;
font-weight: 400;
background-color: #1B395D;
  color: #fff;
  padding: 1px 10px ;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  outline:none;
  border: 1px solid #1B395D;
}
.cookie-btn:hover{
    border: 1px solid #fff;
 color: #1B395D;
background-color: #fff;
box-shadow: 0 0 8px 0 #000; 
}
.cookie-btns {
	font-family: inherit;
	font-weight: 400;
  background-color: #fff;
  color: #1B395D;
  padding: 1px 10px ;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  outline:none;
  border: 1px solid #1B395D;
}
.cookie-btns:hover{
    border: 1px solid #fff;
 color: #fff;
background-color: #1B395D;
box-shadow: 0 0 8px 0 #000; 
}
p.Cookie{
  color: #1B395D;
  margin-right: 20px;
}
    